doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet")
    script(src="js/main.js" defer) 
  block header

  body
  
    block nav 
      include nav.jade
    #content
      block content

