nav 
  ul
    li 
      a(href="/" class= (path==='/') ? 'selected' :'') home
    if !user
      li 
        a(href="/login") login
    if user && user.display_name===owner
      li 
        a(href="/nimda" class= (path==='/nimda') ? 'selected' :'') manage
    li 
      a(href="/sign" class= (path==='/sign') ? 'selected' :'') sign
    li 
      a(href="/logout") logout
  //- p= JSON.stringify(user)